<%- include('../_layouts/adminheader'); %>
<br>
<h2 class="page-title">Edit a product</h2>
<a href="/admin/products" class="btn btn-primary">Back to All products</a>
<br><br>

<form action="/admin/products/edit-product/<%= id %>" method="post" enctype="multipart/form-data">
   <div class="from-group">
    <label for="">Title</label>
    <input type="text" class="form-control" name="title" value="<%= typeof title != 'undefined' ? title : '' %>" placeholder="Title">
   </div> 
   <div class="from-group">
      <label for="">Description</label>
      <textarea name="desc" class="form-control" id="editor" cols="30" rows="10" placeholder="Description"><%= typeof desc != 'undefined' ? desc : '' %></textarea>
   </div>
   <div class="from-group">
      <label for="">Categoty</label>
      <select name="category" class="form-control">
         <% for(let i of Categories){ %>
         <option value="<%= i.slug %>"
               <% if(i.slug == category) { %>
                  selected="selected"
               <% } %>
            ><%= i.title %></option>
         <% } %>
      </select>
   </div>
   <div class="from-group">
      <label for="">Price</label>
      <input type="text" class="form-control" name="price" value="<%= typeof price != 'undefined' ? price : '' %>" placeholder="Price">
   </div>

   <div class="from-group">
      <label for="">Current Image</label>
      <p>
         <% if (image == "") { %>
            <img class="image-product" src="/images/img-default.gif">
         <% } else { %>
            <img class="image-product" src="/uploads/<%= category %>/<%= title %>/<%= image %>">
         <% } %>
      </p>
   </div>
   <div class="from-group">
      <label for="">Upload Image</label>
      <input type="file" class="form-control" name="image" id="img_product" onchange="document.getElementById('imgPreview').src = window.URL.createObjectURL(this.files[0]); document.getElementById('imgPreview').setAttribute('style', 'width: 100px');">  <!--preview image -->
      <img id="imgPreview">
   </div>
   <input type="hidden" name="pimage" value="<%= image %>">
   <button type="submit" class="btn btn-success mt-1">Submit</button>
</form>

<hr>
<h3 class="page-header">Gallery</h3>
<ul class="gallery">
   <% for(let g of uploadImages){ %>
      <li>
         <img src="/uploads/<%= category %>/<%= title %>/gallery/<%= g %>" style="width: 5rem;" class="m-3"> &nbsp;
         <a href="/admin/products/delete-image/<%= category %>/<%= title %>/<%= g %>?id=<%= id %>" class="btn btn-danger confirmDelete">Delete</a>
      </li>   
   <% } %>
</ul>

<br><br>
<form action="/admin/products/product-gallery/<%= category %>/<%= title %>" method="POST" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
   <div class="fallback">
      <input type="file" name="file" multiple>
      <input type="submit" value="UploadFile">
   </div>
</form>
<%- include('../_layouts/adminfooter'); %>