<%- include('./_layouts/header'); %>
<div class="row products">
    <% for(let i of product){ %>
        <div class="col-sm-6 col-md-4 col-lg-3 product" >
            <a href="/products/<%= i.category %>/<%= i.slug %>" class="product_link">
                <img src="/uploads/<%= i.category %>/<%= i.title %>/<%= i.image %>" class="img-fluid product_image p-2">
            </a>
            <h6><%= i.title %></h6>
            <h7>₹ <%= parseFloat(i.price).toFixed(2) %></h7><br>
            <a href="/products/<%= i.category %>/<%= i.slug %>" class="view_details">View Details</a>
        </div>
    <% } %>
</div>
<%- include('./_layouts/footer'); %>

